// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

$header-color: rgba(85, 85, 85, 1);

$secondary-color: rgba(255, 150, 11,1);

#header {
  background-color: $header-color;

  .navbar-nav {
    margin-right: 4rem;
    .nav-link{
      color: white;
    }
  }
  img {
    width: 15rem;
    position: absolute;
    top: -1rem;

  }

}

#heroImage{
  background-image: url("/images/janis-oppliger-184613.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  color: $brand-primary;
  padding-top: 10%;
  .btn {
    border: 5px solid white;
  }

}

.carousel-item {
  max-height: 600px;
  max-width: 600px;
}

.card{
  margin-top: 10rem;
  margin-bottom: 20rem;
}

#blockquoteRow {
  background-image: url("/images/lambert-yuri-108539.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  color: white;
  padding-top: 5rem;
  padding-left: 20rem;
  img {
    margin-left: 12rem;
    width: 35rem;    //height: 300px;
    position: relative;

  }
}

#productRow {
  img {
    width: 300px;
  }
}

#newsheaderRow {
  img {
    width: 300px;
  }
}

#socialHeaderRow {
color: $brand-primary;
}

#socialIcons {
  i{
    font-size: 4rem;
  }
}

#footerRow {
  height: 20rem;
  background-color: black;
  h3 {
    color: white;
  }

  p {
    color: white;
  }

  h5 {
    color: white;
  }
}





.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
